@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body;
  }
}
@layer components {
  .page-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
    color: white;
  }
  .banner .swiper{
    height: 100%;
  }
}
